.logo {
  display: block;
  height: 50px;
  width: 100px;
  box-sizing: border-box;
  margin: 5px 0 5px 40px;
 
}

.header {
  grid-area: h;
  height: 60px;
  background-color: #aeaeae;
  margin-bottom: 10px;
  
}
.header__container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  
  margin: 0 auto;
}